<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="../public/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    
<h1>
    <%= person %>
</h1>


</body>
</html>

